/*CSS Reset*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&family=The+Nautigal:wght@700&family=Ubuntu&display=swap');
*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

/* CSS variables */
/* :root{
    --navbar-height: 59px;
} */
/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
}

/* Navigation Bar: Logo and Images */
#logo{
    margin: 1px 10px;
}
#logo img{
    margin: 1px 40px;
    height: 45px;
    border-radius: 15px;
}
#logo2 img{
    margin-top: 1px;
    margin-left: 500px;
    height: 45px;
    border-radius: 20px;
}

/* Navigation Bar: List Styling */
#navbar ul{
    display: flex;
    font-family: 'Roboto Slab', serif;
    font-family: 'The Nautigal', cursive;
    font-family: 'Ubuntu', sans-serif;
}
#navbar::before{
    content: "";
    background-color: rgb(214, 179, 247);
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.6;
}
#navbar ul li{
   list-style: none;
   font-size: 1.3rem;
}
#navbar ul li a{
    color: white;
    display: block;
   padding: 3px 22px;
   border-radius: 20px;
   text-decoration: none;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
}

/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    color: white;
    padding: 3px 200px;
    height: 550px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: "";
    background-image: url('../bg1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.90;
}
#home p{
    font-family: 'Roboto Slab', serif;
    font-family: 'The Nautigal', cursive;
    font-family: 'Ubuntu', sans-serif;
}
#home h1{
    font-family: 'Roboto Slab', serif;
    font-family: 'The Nautigal', cursive;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 1.5rem;
}
/* Services Container */
#services{
    margin: 34px;
    margin-bottom: 4px;
    display: flex;
}
#services .box{
   border: 2px solid brown;
   padding: 20px;
   margin: 25px 10px;
   border-radius: 23px;
   background-color: rgb(184, 168, 168);
}
#services .box img{
    display: block;
    margin: auto;
    border: 5px solid red;
    border-radius: 23px;
    height: 160px;
}
/* Client Section */
#client-section{
    height: 344px;
}
#client-section::before{
    content: "";
    position: absolute;
    background: url(../bg2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 50%;
    z-index: -1;
    opacity: 0.6;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
.h-primary.center1{
    color: black;
    text-align: center;
}
#clients img{
    height: 150px;
}
footer{
    background: black;
    color: white;
    padding: 9px 20px;
}
/* Utility Classes */
p{
    font-size: medium;
}
.h-primary{
    font-size: 3.8rem;
    padding: 12px;
    font-family: 'Roboto Slab', serif;
    font-family: 'The Nautigal', cursive;
    font-family: 'Ubuntu', sans-serif;
}
.h-primary.center{
    color: rgb(0, 0, 0);
    font-size: 3.8rem;
    padding: 12px;
}
.h-secondary{
    color: black;
    font-size: 2.5rem;
    padding: 12px;
    font-family: 'Roboto Slab', serif;
    font-family: 'The Nautigal', cursive;
    font-family: 'Ubuntu', sans-serif;
}
.btn{
    padding: 6px 20px;
    color: white;
    margin: 17px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: brown;
    font: 2rem;
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;
}
.center{text-align: center;}
/* Contact Section */
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 500px;
    z-index: -1;
    opacity: 0.5;
    background-image: url(../contact.png);
    background-size: cover;
    background-repeat: no-repeat;
}
#contact-box form{
    width: 40%;
    font-family: 'Roboto Slab', serif;
    font-family: 'The Nautigal', cursive;
    font-family: 'Ubuntu', sans-serif;
}
#contact-box label{
    font-size: 1.3rem;
    font-family: 'Roboto Slab', serif;
    font-family: 'The Nautigal', cursive;
    font-family: 'Ubuntu', sans-serif;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
}
